[Unit]
Description=ArachOS live Anaconda installer
After=basic.target NetworkManager.service
Wants=NetworkManager.service
Conflicts=shutdown.target

[Service]
Type=simple
ExecStart=/usr/bin/anaconda --liveinst --text --noselinux --noeject
WorkingDirectory=/root
Environment=HOME=/root LANG=en_US.UTF-8 PATH=/usr/bin:/bin:/sbin:/usr/sbin
StandardInput=tty-force
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
