set default="0"

function load_video {
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2
insmod chain

set timeout=5
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l '@ISOLABEL@'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Start @PRODUCT@ @VERSION@' --class arachos --class gnu-linux --class gnu --class os {
	linux @KERNELPATH@ @ROOT@ @EXTRA@ rd.live.image rd.plymouth=0 plymouth.enable=0
	initrd @INITRDPATH@
}
menuentry 'Test this media & start @PRODUCT@ @VERSION@' --class arachos --class gnu-linux --class gnu --class os {
	linux @KERNELPATH@ @ROOT@ @EXTRA@ rd.live.image rd.live.check rd.plymouth=0 plymouth.enable=0
	initrd @INITRDPATH@
}
submenu 'Troubleshooting -->' {
	menuentry 'Start @PRODUCT@ @VERSION@ in basic graphics mode' --class arachos --class gnu-linux --class gnu --class os {
		linux @KERNELPATH@ @ROOT@ @EXTRA@ rd.live.image nomodeset rd.plymouth=0 plymouth.enable=0
		initrd @INITRDPATH@
	}
	menuentry 'Boot first drive' --class fedora --class gnu-linux --class gnu --class os {
		chainloader (hd0)+1
	}
	menuentry 'Boot second drive' --class fedora --class gnu-linux --class gnu --class os {
		chainloader (hd1)+1
	}
}
